// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, change you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.

//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

// @import "bootstrap/scss/bootstrap";

// Option 2
//
// Import just the styles you need. Note that some stylesheets are required no matter what.

@import "bootstrap/scss/functions"; // Required
@import "bootstrap/scss/variables"; // Required
@import "bootstrap/scss/mixins"; // Required

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400;800&display=swap");

//
// Override Bootstrap here
//

// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

// Customize some defaults
$body-color: $purple;
$body-bg: #f5f5f5;
$border-radius: 0.4rem;

// @import "bootstrap/scss/root";
@import "bootstrap/scss/reboot"; // Required
@import "bootstrap/scss/type";
// @import "bootstrap/scss/images";
// @import "bootstrap/scss/code";
@import "bootstrap/scss/grid";
// @import "bootstrap/scss/tables";
// @import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
// @import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
// @import "bootstrap/scss/input-group"; // Requires forms
// @import "bootstrap/scss/custom-forms";
// @import "bootstrap/scss/nav";
// @import "bootstrap/scss/navbar"; // Requires nav
// @import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/jumbotron";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/media";
// @import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal"; // Requires transitions
// @import "bootstrap/scss/tooltip";
// @import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
@import "bootstrap/scss/utilities";
// @import "bootstrap/scss/print";

$brown: #a59191;
$torquise: #529491;
$green: #3f5e52;
//
// Custom styles
//

body {
  font-size: 110%;
  padding: 0;
  color: $brown;
  font-family: "Josefin Sans", sans-serif;
}

a {
  color: $brown;
  text-decoration: none;
  transition: color 0.3s linear;

  &:hover {
    text-decoration: none;
    color: $green;
  }
}

// TYPOGRAPHY
h1 {
  font-weight: 300;
  font-size: 3.8rem;
  line-height: 1;
}

ul {
  list-style-type: none;

  &.prices {
    margin-left: 15vw;
  }
}

.bold {
  font-weight: 400;
}

#estetica,
#makeup,
#naturopatia {
  background: #fff;
}
#massaggi,
#epilazione {
  background: $brown;
  color: #fff;
}
#contacts {
  background: #444;
}

// NAVIGATION
nav {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 2em;

  .logo {
    width: 300px;
    background: url("/assets/images/logo.png") no-repeat;
    background-size: contain;
  }

  .address {
    font-weight: 400;
    color: $green;
    font-size: 1rem;
  }
}

// STANDARD SECTION
section {
  padding: 2em;
  padding-top: 5em;

  &.centered {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

// HERO SECTION
section.hero {
  height: 100vh;
  background: url("/assets/images/hero.jpg") no-repeat center;
  background-size: cover;

  a {
    display: block;
    margin-top: 2em;
  }

  h1 {
    margin-top: 40vh;
    line-height: 1.2;
  }

  .go-down {
    text-transform: uppercase;
    color: $green;
  }

  .scrolldown {
    margin-top: 2em;
    fill: $brown;
    animation: bounce-arrow 2s infinite ease-in-out;
    &:hover {
      fill: #000;
    }
  }

  ul {
    position: absolute;
    top: 40vh;
    left: 5vw;
  }

  .prenota {
    position: fixed;
    font-size: 2rem;
    font-weight: 300;
    line-height: 2;
    bottom: 0;
    right: 0;
    padding: 0 2em;
    background: $brown;
    color: #fff;

    span {
      font-weight: 400;
    }
  }
}

#estetica {
  padding-bottom: 4em;
  .pics-container {
    position: relative;

    img {
      position: absolute;
    }

    img:nth-child(1) {
      left: -2em;
      top: -5em;
    }
    img:nth-child(2) {
      left: 13em;
      top: 11em;
    }
    img:nth-child(3) {
      left: 15em;
      top: -3em;
    }
  }
}

#massaggi {
  .pics-container {
    position: relative;

    img {
      position: absolute;
    }

    img:nth-child(1) {
      right: 6em;
      top: 17em;
    }
    img:nth-child(2) {
      right: 15em;
      top: 9em;
    }
    img:nth-child(3) {
      right: 12em;
      top: -1em;
    }
    img:nth-child(4) {
      right: -2em;
      top: -4em;
    }
  }
}

#makeup {
  padding-bottom: 8em;
  .pics-container {
    position: relative;

    img {
      position: absolute;
      z-index: 1;
    }

    img:nth-child(1) {
      left: -2em;
      top: -8em;
    }
    img:nth-child(2) {
      left: 10em;
      top: 2em;
    }
    img:nth-child(3) {
      left: 2em;
      top: 13em;
    }
  }
}

#epilazioneDef {
  background: $torquise;
  background: url("../images/epilazione-hero.jpg") no-repeat center;
  background-size: cover;
  color: #fff;
  h1 {
    padding: 1em 0;
    font-weight: 600;
  }

  p {
    font-weight: 200;
    font-size: 1.7rem;
  }
}
#epilazione {
  position: relative;
  padding-bottom: 7em;

  img {
    position: absolute;
  }

  img:nth-child(1) {
    right: -1em;
    top: -7em;
  }
  img:nth-child(2) {
    right: 15em;
    top: -3em;
  }
  img:nth-child(3) {
    right: 12em;
    top: 6em;
  }
  img:nth-child(4) {
    right: 3em;
    top: 15em;
  }
}

#naturopatia {
  padding-bottom: 7em;
  .pics-container {
    position: relative;

    img {
      position: absolute;
    }

    img:nth-child(1) {
      left: -2em;
      top: 4em;
    }
    img:nth-child(2) {
      left: 17em;
      top: 7em;
    }
    img:nth-child(3) {
      left: 8em;
      top: -7em;
    }
  }
}

#contacts {
  height: 100vh;
  overflow: hidden;
  background: url(../images/contact.jpg) no-repeat;
  background-size: cover;
  color: #fff;
  padding-right: 0;
  .one {
    p {
      font-weight: 400;
      margin: 2em 0;

      &:nth-child(2) {
        margin-top: 5em;
      }
    }

    .social {
      padding-top: 100px;

      a {
        display: inline-block;
        margin: 0 2em 0 0;
      }

      .social-icon {
        width: 45px;
        fill: #fff;
      }
    }
  }

  .two {
    .box {
      position: relative;
      height: 20em;
      margin-top: 10em;
      background: #fff;
      width: 100%;

      .callme {
        position: absolute;
        top: 3em;
        left: -5em;
        right: 0;
        bottom: 3em;
        padding: 2em;
        background: $brown;
        color: #fff;

        h2 {
          font-weight: 500;
          font-size: 2.5rem;
          padding-bottom: 0.5em;
        }
        p {
          font-size: 2rem;
          font-weight: 100;
        }
      }
    }
  }
}

// Style Bootstrap icons
.bi {
  fill: currentColor;
}

@keyframes bounce-arrow {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}
